body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 2%;
}
.half img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 200px;
}

.button{
    text-decoration: none;
    
    padding: 8px 27px;
    color: white;
    background-image: linear-gradient(90deg, #968a23,orange);
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    
}

.button:hover{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient(90deg, #968a23,orange);
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    
}

.background-1{
    
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
    
}
.background-2{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.Experience{
    margin-left: 5%;
    width: 35%;
    float: left;
    padding-top: 50px;
    box-shadow: 10px 10px 40px gray;
    height: 300px;
    padding-left: 60px;
    border-radius: 10px;
}
#first-box{
    border-left: 10px solid;
    border-image: linear-gradient( orange,#968a23);
    border-image-slice: 1;
    
}
#secend-box{
    border-left: 10px solid;
    border-image: linear-gradient( blue, #9a5fdf);
    border-image-slice: 1;
}
.background-3{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.Experience:hover{
    margin-left: 4%;
    width: 40%;
    float: left;
    padding-top: 60px;
    box-shadow: 10px 10px 40px gray;
    height: 330px;
    padding-left: 45px;
    border-radius: 10px;
}
footer{
    text-align: center;
    font-size: 10px;
}